.messageContainer {
  position: absolute;
  margin: 10px;
  flex-direction: column;
}
.message {
  display: flex;
  width: fit-content;
  margin: 5px;
  padding: 10px;
}

.green {
  background-color: greenyellow;
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.red {
  background-color: red;
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
