.chatPage {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: turquoise;
}
.messages {
  height: 90%;
  border: 1px solid gray;
}
.messageInput {
  height: 10%;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
